.container{
  height: 100vh;
  width: 100%;
  z-index: 1;
  color: black;
  display: flex;
}

.main{
  height: 100%;
  width: 80%;
}

.sidebar{
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 20%;
}

.checkOutBtn{
  width: 80%;
  height: 40px;
  background-color: rgb(76, 175, 80);
  color:white;
  margin: 10px;
  margin-top: 15px;
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.foodList{
  width: 90%;

}
.foodItem{
  width: 100%;
}

.foodDesc{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: -20px;
}

.alter a{
  color: red;
}



.main{
  background-color: lightgrey;
  margin: 20px;
  overflow-y:scroll;
  margin-bottom: 100px;
}

.foodCard{
  background-color: white;
}

.foodListWrapper{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.header{
  text-align: center;
}

.foodCard{
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodCard hr{
  width: 100%;
}